.input__content {
  width: 100%;
  background-color: var(--input-background-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-large);
  padding: var(--font-size-large);
  border: 1px solid transparent;
}

.input__content.error {
  border-color: var(--red-color);
}

@media screen and (max-width: 415px) {
  .input__content {
    font-size: var(--font-size-normal);
  }
}
