<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
    <title>VIN info</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <% for (let i in htmlWebpackPlugin.files.css) { %>
      <link rel="stylesheet" href="<%= options.baseUrl + htmlWebpackPlugin.files.css[i] %>">
    <% } %>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <% for (let i in htmlWebpackPlugin.files.js) { %>
      <script src="<%= options.baseUrl + htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
  </body>
</html>
