.variable-list-item__container {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  column-gap: 2rem;
  padding: 0.5rem 1rem;
}

.variable-list-item__text-content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: start;
  column-gap: 1rem;
}

.variable-list-item__name-field {
  font-weight: var(--font-weight-bold);
}

.variable-list-item__link {
  align-self: start;
}

@media screen and (max-width: 768px) {
  .variable-list-item__container {
    grid-template-columns: 1fr;
    row-gap: 0.25rem;
  }

  .variable-list-item__text-content-wrapper {
    grid-template-columns: 1fr;
    row-gap: 0.25rem;
    word-break: break-word;
  }

  .variable-list-item__link {
    justify-self: start;
  }
}
