:root {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-size-small: 0.75rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.125rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-style-primary: normal;
  --font-style-secondary: italic;

  --border-radius: 8px;
  --grey-color: #e8e8e8;
  --red-color: #f15557;
  --crimson-color: #da3f5b;
  --text-light-color: #ffffff;
  --text-dark-color: #636363;
  --text-darker-color: #333333;
  --transition-time: 0.25s;
  --input-background-color: #f9f9f9;
}

:root * {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  color: var(--text-dark-color);
}

:root *:focus {
  outline: 2px solid var(--text-darker-color);
}

.app__content-wrapper {
  width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 1440px) {
  :root {
    --border-radius: 4px;
  }

  .app__content-wrapper {
    width: 100%;
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .app__content-wrapper {
    padding: 1rem;
  }
}
